<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>țh͍͖͍̦̝͇e̫̠̺̞̺̣͟y̗̠̱̳͎̥ͅ ̷̲͍͉ͅa̱̠i̧n̶͖̘̣̯̺͍͕t̰̖͔̟͢ ̴͓̺ͅt̶̼͈͓͎̻͍ͅṟ̰͙̹̱̫u̳̼̳̯̪̞͍ḙ̖ͅ</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>

    <iframe src="audio/halo.mp3" allow="autoplay" style="display:none" id="iframeAudio">
    </iframe> 

        <!-- <audio
            loop
            autoplay
            src="/audio/sad.wav" id="sound">
                Your browser does not support the
                <code>audio</code> element.
        </audio> -->
    <div class="box"></div>
    <img id="one" src="images/GDollars.jpg"/>
    <img id="two" src="images/GDollars2.jpg"/>
    <img id="three" src="images/GDollars3.jpg"/>
    <video id="him" width="100%" height="100%" loop muted controls autoplay id="vid">
        <source src="images/holyscript.mp4" type="video/mp4">
        <source src="images/holyscript.ogg" type="video/ogg">
    </video>

    <script src="js/scripts.js"></script>
</body>
</html>